<div [formGroup]="form" class="pt-150">
    <div fxLayout="row wrap" class="form-row">
        <div class="form-cell" fxFlex="100" fxFlex.gt-xs="50">
            <label class="app-label">Type d'hébergement souhaité</label>
            <mat-radio-group aria-label="Type d'hébergement souhaité" formControlName='hostingType' appHostingTypes #ht="hostingTypes">
                <mat-radio-button 
                    *ngFor="let option of ht.items" 
                    [value]="option.value" class="d-block mb-50">{{ option.label }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-cell" fxFlex="100" fxFlex.gt-xs="50">
            <label class="app-label">Repas</label>
            <mat-radio-group aria-label="Repas" formControlName='mealType' appMealTypes #mt="mealTypes">
                <mat-radio-button 
                    *ngFor="let option of mt.items" 
                    [value]="option.value" class="d-block mb-50">{{ option.label }}</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div fxLayout="row wrap" class="form-row">
        <div class="form-cell" fxFlex="100" fxFlex.gt-xs="50">
            <label class="app-label">Type de véhicule de safari</label>
            <mat-radio-group aria-label="Type d'hébergement souhaité" formControlName='vehicleType' appVehicleTypes #vt="vehicleTypes">
                <mat-radio-button 
                    *ngFor="let option of vt.items | vehicleTypesFilter:form.get('hostingType').value" 
                    [value]="option.value" class="d-block mb-50" [disabled]="option.disabled">{{ option.label }}</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <mat-form-field class="w-100 mb-150" appearance="outline">
        <mat-label>Décrivez votre itinéraire de safari et vos envies ou contraintes spécifiques</mat-label>
        <textarea matInput formControlName="travelDescription" rows="10"></textarea>
    </mat-form-field>
</div>