<div class="mb-250">
    <h3 class="h3">Destination & type de tour</h3>
    <app-detail-row label="Destinations">
        <ul class="m-0 p-0">
            <li *ngFor="let d of tour.destinations | destinations">{{ d }}</li>
        </ul>
    </app-detail-row>
    <app-detail-row label="Expériences recherchées">
        <ng-container *ngIf="tour.safariExperiments && tour.safariExperiments.length ; else noData">
            <ul class="m-0 p-0">
                <li *ngFor="let d of tour.safariExperiments | safariExperiments">{{ d }}</li>
            </ul>
        </ng-container>
    </app-detail-row>
    <app-detail-row label="Type de tour">{{ tour.tourType | tourType }}</app-detail-row>
    <app-detail-row label="Accompagnateurs">
        <ng-container *ngIf="tour.attendants; else noData">
            <ul class="m-0 p-0">
                <li *ngFor="let d of tour.attendants | attendants">{{ d }}</li>
            </ul>
        </ng-container>
    </app-detail-row>
    <app-detail-row label="Date de départ">{{ tour.startDate | date }}</app-detail-row>
    <app-detail-row *ngIf="tour.isDuration; else endDate" label="Durée">{{ tour.duration }} jours</app-detail-row>
    <ng-template #endDate>
        <app-detail-row label="Date de fin">{{ tour.endDate | date }}</app-detail-row>
    </ng-template>
    <h3 class="h3">Informations de contact</h3>
    <app-detail-row label="Titre, nom & prénom">
        <ng-container [ngSwitch]="contact.title">
            <span *ngSwitchCase="'mr'">monsieur</span>
            <span *ngSwitchCase="'ms'">madame</span>
        </ng-container>
        <span class="ml-50">{{ contact.lastName }}&nbsp;{{ contact.firstName }}</span>
    </app-detail-row>
    <app-detail-row label="Email">{{ contact.email }}</app-detail-row>
    <app-detail-row label="Mobile">{{ contact.mobile }}</app-detail-row>
    <app-detail-row label="Pays">{{ contact.country | country }}</app-detail-row>
    <app-detail-row label="Nombre d'adulte">{{ contact.adultNumber }}</app-detail-row>
    <app-detail-row label="Nombre d'enfant">{{ contact.childrenNumber }}</app-detail-row>
    <app-detail-row label="Enfants de moins de 4 ans">
        <ng-container [ngSwitch]="contact.has4YearsKids">
            <span *ngSwitchCase="true">oui</span>
            <span *ngSwitchCase="false">non</span>
        </ng-container>
    </app-detail-row>
    <h3 class="h3">Préférences</h3>
    <app-detail-row label="Type d'hébergement souhaité">{{ preferences.hostingType | hostingType }}</app-detail-row>
    <app-detail-row label="Repas">{{ (preferences.mealType | mealType) || '-' }}</app-detail-row>
    <app-detail-row label="Type de véhicule de safari">{{ preferences.vehicleType | vehicleType }}</app-detail-row>
    <app-detail-row label="Votre itinéraire de safari et vos envies ou contraintes spécifiques">{{ preferences.travelDescription || '-' }}</app-detail-row>
</div>
<ng-template #noData>-</ng-template>