<form [formGroup]="form" (ngSubmit)="confirm(form)">
    <div class="container">
        <mat-card *ngIf="!(isMobile$ | async)">
            <mat-horizontal-stepper linear labelPosition="bottom">
                <mat-step label="Destination & type de tour" [stepControl]="tourForm">
                    <app-tour-form [form]="tourForm" [isMobile]="false"></app-tour-form>
                    <div class="d-flex justify-content-end">
                        <button mat-raised-button color="primary" type="button" [disabled]="tourForm.invalid" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step label="Information de contact" [stepControl]="contactForm">
                    <app-contact-form [form]="contactForm"></app-contact-form>
                    <div class="d-flex justify-content-between">
                        <button mat-button type="button" color="accent" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" type="button" [disabled]="contactForm.invalid" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step label="Votre voyage" [stepControl]="preferencesForm">
                    <app-preferences-form [form]="preferencesForm"></app-preferences-form>
                    <div class="d-flex justify-content-between">
                        <button mat-button type="button" color="accent" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" type="button" [disabled]="preferencesForm.invalid" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step label="Confirmation">
                    <app-confirm [form]="form"></app-confirm>
                    <div>
                        <button mat-raised-button color="primary" class="w-100" type="submit" [disabled]="form.invalid">Confirm</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card>
    </div>
    <mat-vertical-stepper linear *ngIf="isMobile$ | async">
        <mat-step label="Destination & type de tour" [stepControl]="tourForm">
            <app-tour-form [form]="tourForm"></app-tour-form>
            <div class="d-flex justify-content-end">
                <button mat-raised-button color="primary" type="button" [disabled]="tourForm.invalid" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Information de contact" [stepControl]="contactForm">
            <app-contact-form [form]="contactForm"></app-contact-form>
            <div class="d-flex justify-content-between">
                <button mat-button type="button" color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" type="button" [disabled]="contactForm.invalid" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Votre voyage" [stepControl]="preferencesForm">
            <app-preferences-form [form]="preferencesForm"></app-preferences-form>
            <div class="d-flex justify-content-between">
                <button mat-button type="button" color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" type="button" [disabled]="preferencesForm.invalid" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Confirmation">
            <app-confirm [form]="form"></app-confirm>
        </mat-step>
    </mat-vertical-stepper>
</form>